src/main/mule/invoice-experience-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation=" http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd  http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd  http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd  http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <!-- HTTP Listener Config -->
    <http:listener-config name="invoice-experience-api-httpListenerConfig" doc:name="API HTTPS Listener config">
        <http:listener-connection host="0.0.0.0" port="${zuul::app.invoice.eapi.listener.port}" protocol="HTTPS">
            <tls:context>
                <tls:key-store path="${zuul::keystore.path}" password="${zuul::keystore.pass}" keyPassword="${zuul::keystore.pass}" />
            </tls:context>
        </http:listener-connection>
    </http:listener-config>
    <!-- APIkit Config -->
    <apikit:config name="invoice-experience-api-config" api="invoice-experience-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <!-- Main Flow -->
    <flow name="invoice-experience-api-main">
        <http:listener config-ref="invoice-experience-api-httpListenerConfig" path="/api/invoice-experience/v1/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="invoice-experience-api-config" />
        <error-handler ref="invoice.apiMainErrorHandler" />
    </flow>
    <!-- Console Flow -->
    <flow name="invoice-experience-api-console">
        <http:listener config-ref="invoice-experience-api-httpListenerConfig" path="/api/invoice-experience/v1/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="invoice-experience-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <!-- Health Check Basic -->
    <flow name="health-check-api">
        <http:listener doc:name="Listener" config-ref="invoice-experience-api-httpListenerConfig" path="/health" />
        <ee:transform doc:name="set payload and status">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    "name": "invoice-experience-api",
    "status": "UP"
}]]></ee:set-payload>
                <ee:set-attributes><![CDATA[%dw 2.0
output application/java
---
{
    statusCode: "200"
}]]></ee:set-attributes>
            </ee:message>
        </ee:transform>
    </flow>        
    <!-- GET /invoice-metadata Implementation -->
<flow name="get:\invoice-metadata:invoice-experience-api-config">
    <logger level="INFO" doc:name="Logger" message="Received invoice-metadata request"/>
    
    <!-- Set operation for Nodinite -->
    <set-variable value="invoice-metadata" doc:name="operation" variableName="operation"/>
    
    <!-- Call Main Implementation -->
    <flow-ref doc:name="api-implementation" name="api-implementation"/>
    
    <logger doc:name="Logger" level="INFO" message="Response sent"/>
</flow>
    <!-- GET /health Implementation -->
    <flow name="get:\health:invoice-experience-api-config">
        <ee:transform doc:name="Health Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    "name": "invoice-experience-api",
    "status": "UP",
    "timestamp": now()
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <!-- GET /health/full Implementation -->
    <flow name="get:\health\full:invoice-experience-api-config">
        <try>
            <!-- Call SAPI Health -->
            <flow-ref doc:name="check-sapi-health" name="check-sapi-health" />
            <!-- Success Response -->
            <ee:transform doc:name="Health Full Response - UP">
                <ee:message>
                    <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    "name": "invoice-experience-api",
    "status": "UP",
    "timestamp": now(),
    "dependencies": {
        "name": "invoice-system-api",
        "status": "AVAILABLE",
        "lastChecked": now()
    }
}]]></ee:set-payload>
                </ee:message>
            </ee:transform>
            <error-handler>
                <on-error-continue type="ANY">
                    <!-- Error Response -->
                    <ee:transform doc:name="Health Full Response - DOWN">
                        <ee:message>
                            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    "name": "invoice-experience-api",
    "status": "DOWN",
    "timestamp": now(),
    "dependencies": {
        "name": "invoice-system-api",
        "status": "UNAVAILABLE",
        "lastChecked": now()
    }
}]]></ee:set-payload>
                        </ee:message>
                        <ee:variables>
                            <ee:set-variable variableName="httpStatus">503</ee:set-variable>
                        </ee:variables>
                    </ee:transform>
                </on-error-continue>
            </error-handler>
        </try>
    </flow>
</mule>