src/main/mule/main.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

    <!-- Main Invoice Metadata Handler -->
    <flow name="main-invoice-metadata-handler" doc:id="6e599c2e-fb29-43c0-a231-1300e6c8a8cd">
        <set-variable value="invoice-metadata" doc:name="operation" variableName="operation"/>
        <flow-ref doc:name="invoice.setMainProcessingVars" name="invoice.setMainProcessingVars"/>
        <flow-ref doc:name="commons.nodinite.log" name="commons.nodinite.log"/>

        <!-- Build SAPI Request -->
        <set-variable variableName="path" value="#['/invoice-metadata']" doc:name="Set SAPI Path"/>
        <set-variable variableName="maskedPath" value="#['/invoice-metadata']" doc:name="Set Masked Path"/>
        <set-variable variableName="method" value="GET" doc:name="Set Method"/>
        <set-variable variableName="queryParams" value="#[attributes.queryParams]" doc:name="Pass Query Params"/>

        <!-- Call Invoice SAPI -->
        <flow-ref doc:name="invoice.request-to-invoice-sapi" name="invoice.request-to-invoice-sapi"/>

        <!-- Transform Response -->
        <ee:transform doc:name="Transform to EAPI Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    data: payload.Data,
    pagination: payload.pagination
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>

        <flow-ref doc:name="commons.nodinite.logSuccess" name="commons.nodinite.logSuccess"/>
        <error-handler ref="invoice.publishMainErrorHandling"/>
    </flow>

    <!-- Health Check for SAPI -->
    <sub-flow name="check-sapi-health" doc:id="54473402-b9c2-4e4a-8e75-94e8c76f540a">
        <set-variable value="health-check" variableName="operation" doc:name="Set operation"/>
        <set-variable variableName="path" value="/health" doc:name="Set Health Path"/>
        <set-variable variableName="method" value="GET" doc:name="Set Method"/>
        <set-variable variableName="maskedPath" value="/health" doc:name="Set Masked Path"/>

        <try doc:name="Try SAPI Health Check">
            <flow-ref doc:name="invoice.request-to-invoice-sapi" name="invoice.request-to-invoice-sapi"/>
            <ee:transform doc:name="Set Success Response">
                <ee:message/>
                <ee:variables>
                    <ee:set-variable variableName="healthCheckResult"><![CDATA[%dw 2.0
output application/json
---
{
    status: "UP",
    sapi: payload
}]]></ee:set-variable>
                </ee:variables>
            </ee:transform>
            <error-handler>
                <on-error-continue>
                    <ee:transform doc:name="Set Error Response">
                        <ee:message/>
                        <ee:variables>
                            <ee:set-variable variableName="healthCheckResult"><![CDATA[%dw 2.0
output application/json
---
{
    status: "DOWN",
    error: error.description
}]]></ee:set-variable>
                        </ee:variables>
                    </ee:transform>
                </on-error-continue>
            </error-handler>
        </try>
    </sub-flow>

</mule>